@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
/* font-family: 'Lilita One', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
/* font-family: 'Handlee', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
/* font-family: 'Quicksand', sans-serif; */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #FFDBF1;
}

nav{
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: flex-start;
}

nav a{
    color:#000000;
    text-decoration: none;
}

.icono{
    display: block;
    z-index: 100000000;
    animation: moverIzquierda 1s ease-in;

}

header{
    background-color: #000000;
    
    
    height: auto;
    padding: 48px;
    width: 100%;
}

.container-init{
    width: 95%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

img{
    display: block;
    height: 400px;
    padding-bottom: 100px;
    object-fit: cover;
    animation: arriba 1s ease-in;
}

.textos{
    width: 500px;
    color:#fff;
}



.textos h1{
    font-size:80px;
    animation: moverDerecha 1s ease-in;
    font-family: 'Lilita One', cursive;
    font-size: 150px;


}

.textos h2{
    font-size:30px;
    animation: moverIzquierda 1s ease-in;
    font-family: 'Lilita One', cursive;
    font-size: 40px;
    color: #3aaddb;
}

.textos a{
    display: inline-block;
    color:#6e6868;
    font-weight: 300;
    text-decoration: none;
    margin-top: 30px;
    border: 1px solid #fff;
    width: 150px;
    border-radius: 3px;
    text-align: center;
    padding: 10px 0;
    animation: arriba 1s ease-in;
    background-color: #8BC6EC;
background-image: linear-gradient(152deg, #8bc5ec85 0%, #fbbde589 65%);


}

.wave{
    height: 100px;
    width: 100%;
    background-color: #000000;
}

.enlaces{
    position: fixed;
    display: flex;
    top: 0;
    background: #000;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    right: 0;
    flex-direction: column;
    width: 100%;
    transition: all 1s ease;
    background: #bc4e9c;  
    background-color: #8BC6EC;
    background-image: linear-gradient(152deg, #8bc5ec62 0%, #fbbde580 65%);

}

.uno{
    
-webkit-clip-path: circle(0% at 0 0);
clip-path: circle(0% at 0 0);

}

.dos{
    
    -webkit-clip-path: circle(150% at 0 0);
    clip-path: circle(150% at 0 0);
    
    }

@keyframes moverIzquierda{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverDerecha{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes arriba{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@media screen and (max-width:1000px){
    img{
        height: 400px;
    }

}

@media screen and (max-width:800px){
    img{
        height: 370px;
    }
    .textos h1{
        font-size: 70px;
    }

    .textos h2{
        font-size: 25px;
    }
    
}

@media screen and (max-width:700px){
    img{
        height: 250px;
    }
    .textos h1{
        font-size: 40px;
    }

    .textos h2{
        font-size: 15px;
    }
    
}

@media screen and (max-width:450px){
    .container{
        width: 100%;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .textos{
        width: 100%;
        text-align: center;
    }
    .textos h1{
        font-size: 60px;
    }    
}

@media screen and (max-width:340px){
    img{
        height: 160px;
    }
    .textos h1{
        font-size: 35px;
    }
    .textos a{
        width: 120px;
    }
    .textos h2{
        font-size: 15px;
    }
    
}

.footer{
    min-height: 10px;
    width: 100%;
    text-align: center;
    padding: 5px;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;}

#links{
    color: #d27fcf;
}

#links a {
    color: aliceblue;
    font-family: 'Handlee', cursive;
    font-size: 40px;
}

/* *********************/
/* seccion S O B R E  M I */
/* *********************/

#sobremi {
width: 100%;
    margin: auto;
    padding: 100px 15px;
    color: #111135;
    background-color: #ffffff;
background-image: linear-gradient(180deg, #ffffff 2%, #ffccdd 51%);

    display: flex;
}

#sobremi .contenedor-foto {
    max-width: 100%;
    margin-right:0px;
}

#sobremi .contenedor-foto img {
    padding: 10px;
    width: 200px;
    border-radius: 20px;
    background-color: #0000003e;
}

#sobremi .sobremi {
    margin: 0 40px;
}

#sobremi .sobremi .titulo-seccion {
    font-size: 20px;
    color: #000;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

#sobremi .sobremi h2 {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}



#sobremi .sobremi h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#sobremi .sobremi p {
    font-size: 14px;
    line-height: 25px;
    color: #565656;
    margin-bottom: 12px;
    font-family: 'Quicksand', sans-serif;

}

#sobremi .sobremi a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 30px;
    border: 1px solid #000;
    padding: 10px 20px;
    margin-top: 30px;
    transition: .5s;
}

#sobremi .sobremi a:hover {
    background-color: #ff5080;
    color: #fff;
}
/* *********************/
/* seccion S E R V I C I O S */
/* *********************/

#servicios {
    padding: 100px 15px;
    text-align: center;
    background-image: url(fontdonuts.jpg);
}

#servicios .titulo-seccion {
    font-size: 30px;
    color: #000;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
#contacto-especial{
    font-size: 20px;
    color: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
#titulo-seccion-skills{
    font-size: 20px;
    color: #000;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

#servicios .fila {
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: 30px auto;
}

#servicios .fila .servicio {
    max-width: 350px;
    background-color: #d27fcfab;
    padding: 30px;
    margin: 0 5px;
    border-radius: 5px;
    transition: .5s;
}

#servicios .fila .servicio:hover {
    box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
}

#servicios .fila .servicio .icono {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 25px;
}

#servicios .fila .servicio h4 {
    font-size: 22px;
    margin-bottom: 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
}

#servicios .fila .servicio hr {
    width: 30%;
    margin: auto;
    color: #000000;
    margin-bottom: 25px;

}

#servicios .fila .servicio ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;

}

#servicios .fila .servicio p {
    font-size: 14px;
    line-height: 22px;
    color: white;
}
/* *********************/
/* seccion S K I L L S */
/* *********************/

.contenedor-skills {
    background-color: #ffccdd;
    background-image: linear-gradient(180deg, #ffccdd 83%, #d27fcf 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    background-position: center center;
    padding: 100px 0;
    text-align: center;
}

.contenedor-skills .skill {
    max-width: 600px;
    margin: 30px auto;
}

.contenedor-skills .skill .info {
    display: flex;
    justify-content: space-between;
}

.contenedor-skills .skill .lista {
    display: inline-block;
    margin-right: 20px;
    height: 10px;
    width: 10px;
    background-color: #fff;
}

.contenedor-skills .skill .barra {
    background-color: #919191;
    width: 100%;
    height: 6px;
    margin: 10px 0px;
}


@keyframes progreso1 {
    0% {
        width: 0;
    }
    100% {
        width: 95%;
    }
}

@keyframes progreso2 {
    0% {
        width: 0;
    }
    100% {
        width: 90%;
    }
}

@keyframes progreso3 {
    0% {
        width: 0;
    }
    100% {
        width: 90%;
    }
}

@keyframes progreso4 {
    0% {
        width: 0;
    }
    100% {
        width: 85%;
    }
}
/* *********************/
/* seccion P O R T F O L I O */
/* *********************/

#portfolio {
    width: 100%;
    padding: 100px 0;
    margin: auto;
    background-color: #ffccdd;
    background-image: linear-gradient(180deg, #ffccdd 2%, #d27fcf 51%, #000000 100%);
    
    
}

#portfolio .titulo-seccion {
    font-size: 20px;
    color: #000;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

#portfolio .fila {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

#portfolio .fila .proyecto {
width: 100%;
height: 200px;
    border: 1px solid #000;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}

#portfolio .fila .proyecto img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    object-fit: cover;
    transition: .5s;
}

#portfolio .fila .proyecto:hover img {
    filter: grayscale(0);
}

#portfolio .fila .proyecto .info {
    position: absolute;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.429);
    color: #000000;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
}

#portfolio .fila .proyecto:hover .info {
    opacity: 1;
    bottom: 0;
}
/* *********************/
/* seccion C O N T A C T O */
/* *********************/

#contacto {
    width: 100%;
    background-color: #000;
    padding: 100px 15px;
}


#contacto .contenedor-form {
    max-width: 1100px;
    margin: auto;
}

#contacto .contenedor-form .fila {
    margin-bottom: 15px;
}

#contacto .contenedor-form .mitad {
    display: flex;
    justify-content: space-between;
}

#contacto .contenedor-form input,
#contacto .contenedor-form textarea {
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;
}

#contacto .contenedor-form .mitad input {
    width: 48%;
}

#contacto .contenedor-form .input-full {
    width: 100%;
}

#contacto .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#contacto .btn-enviar {
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px !important;
}

#contacto .btn-enviar:hover {
    background-color: #ff5080;
    color: #fff;
}

.contenedor-QR{
    display: flex;
    justify-content: center;
}
/* *********************/
/* seccion F O O T E R */
/* *********************/

footer {
    background-color: #807c7c;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

footer a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
    font-size: 26px;
}
/* *********************/
/* seccion R E S P O N S I V E */
/* *********************/

@media screen and (max-width: 800px) {
    .redes {
        display: none;
    }
    nav {
        display: none;
    }
    nav.responsive {
        display: block;
        background-color: rgba(0, 0, 0, .8);
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;
    }
    nav.responsive ul {
        display: block !important;
        text-align: center;
    }
    nav.responsive ul li {
        margin: 5px 0;
    }
    #icono-nav {
        display: block;
    }
    #inicio .contenido .presentacion h2 {
        font-size: 40px;
    }
    /* seccion SOBRE MI */
    #sobremi {
        padding: 50px 0;
        display: block;
    }
    #sobremi .contenedor-foto {
        max-width: 200px;
        margin: auto;
    }
    #sobremi .contenedor-foto img {
        padding: 8px;
    }
    #sobremi .sobremi .titulo-seccion {
        text-align: center;
    }
    #sobremi .sobremi h2 {
        font-size: 25px;
        text-align: center;
    }
    /* seccion MIS SERVICIOS */
    #servicios {
        padding: 50px 15px;
    }
    #servicios .fila {
        display: block;
    }
    #servicios .fila .servicio {
        margin: 10px auto;
    }
    /* seccion HABLIDADES MI */
    .contenedor-skills {
        padding: 50px 20px;
    }
    /* seccion PORTFOLIO */
    #portfolio {
        padding: 50px 0;
    }
    #portfolio .fila {
        display: block;
    }
    #portfolio .fila .proyecto {
        margin: 10px auto;
    }
    /* seccion CONTACTO */
    #contacto {
        padding: 50px 15px;
    }
    #contacto .contenedor-form .mitad {
        margin-bottom: 15px;
        display: block;
    }
    #contacto .contenedor-form .mitad input {
        width: 100%;
        margin-bottom: 15px;
    }
}


#title-about{
    font-family: 'Quicksand', sans-serif;
}



input {

    display: none;
}


* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  width: 100px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 1s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.container-img-1{

    background-image: url(skills/html-5\ \(1\).png);
    width: 100px;
    height: 100px;
    background-position: center;
    background-size:contain;
    display: flex;
    justify-content: center;
}
.container-img-2{

    background-image: url(skills/css-3.png);
    width: 100px;
    height: 100px;
    background-position: center;
    background-size:contain;
    display: flex;
    justify-content: center;
}
.container-img-3{

    background-image: url(skills/js.png);
    width: 100px;
    height: 100px;
    background-position: center;
    background-size:contain;
    display: flex;
    justify-content: center;
}
.container-img-4{

    background-image: url(skills/excel.png);
    width: 100px;
    height: 100px;
    background-position: center;
    background-size:contain;
    display: flex;
    justify-content: center;
}
.container-img-5{

    background-image: url(skills/google-analytics.png);
    width: 100px;
    height: 100px;
    background-position: center;
    background-size:contain;
    display: flex;
    justify-content: center;
}
.container-img-6{

    background-image: url(skills/logotype.png);
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
}
.container-img-7{

    background-image: url(skills/looker-studio-1k.png);
    width: 100px;
    height: 100px;
    background-position: center;
    background-size:cover;
    display: flex;
    justify-content: center;
}
.container-img-8{

    background-image: url(skills/python.png);
    width: 100px;
    height: 100px;
    background-position: center;
    background-size:contain;
    display: flex;
    justify-content: center;
}
.container-img-9{

    background-image: url(skills/matplot_title_logo.png);
    width: 200px;
    height: 100px;
    background-position: center;
    background-size:contain;
    display: flex;
    justify-content: center;
}

.container-img-11{

    background-image: url(skills/Numpy.png);
    width: 200px;
    height: 100px;
    background-position: center;
    background-size:contain;
    display: flex;
    justify-content: center;
}
.container-img-12{

    background-image: url(skills/Pandas_logo.svg.png);
    width: 200px;
    height: 100px;
    background-position: center;
    background-size:contain;
    display: flex;
    justify-content: center;
}
.container-img-13{

    background-image: url(skills/r.png);
    width: 100px;
    height: 100px;
    background-position: center;
    background-size:contain;
    display: flex;
    justify-content: center;
}
.container-img-14{

    background-image: url(skills/sql-server.png);
    width: 100px;
    height: 100px;
    background-position: center;
    background-size:contain;
    display: flex;
    justify-content: center;
}
.container-img-15{

    background-image: url(skills/postgre.png);
    width: 100px;
    height: 100px;
    background-position: center;
    background-size:contain;
    display: flex;
    justify-content: center;
}
.container-img-16{

    background-image: url(skills/mysql.png);
    width: 100px;
    height: 100px;
    background-position: center;
    background-size:contain;
    display: flex;
    justify-content: center;
}
.container-img-17{

    background-image: url(skills/powerpoint.png);
    width: 100px;
    height: 100px;
    background-position: center;
    background-size:contain;
    display: flex;
    justify-content: center;
}
.container-img-18{

    background-image: url(skills/word.png);
    width: 100px;
    height: 100px;
    background-position: center;
    background-size:contain;
    display: flex;
    justify-content: center;
}
.container-img-19{

    background-image: url(skills/soft-skills.png);
    width: 100px;
    height: 100px;
    background-position: center;
    background-size:contain;
    display: flex;
    justify-content: center;
}
.container-img-20{

    background-image: url(skills/sass.png);
    width: 100px;
    height: 100px;
    background-position: center;
    background-size:contain;
    display: flex;
    justify-content: center;
}
.container-img-21{

    background-image: url(skills/Jupyter_logo.svg.png);
    width: 100px;
    height: 100px;
    background-position: center;
    background-size:contain;
    display: flex;
    justify-content: center;
}
.container-img-22{

    background-image: url(skills/deepnote-logo.png);
    width: 200px;
    height: 100px;
    background-position: center;
    background-size:cover;
    display: flex;
    justify-content: center;
}
.container-img-23{

    background-image: url(skills/Google_Colaboratory_SVG_Logo.svg.webp);
    width: 100px;
    height: 100px;
    background-position: center;
    background-size:cover;
    display: flex;
    justify-content: center;
}

.container-img-25{

    background-image: url(skills/workspace.png);
    width: 200px;
    height: 100px;
    background-position: center;
    background-size:contain;
    display: flex;
    justify-content: center;
}





@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

